puzzle_inputs
dayXX.rs
read_*.rs

# Ignore all
day*/*

# ignore garbage folder (failed code)
garbage


# Unignore all with extensions .rs
!day*/*.rs

# in these days I used cargo with extern crates
!day07/day07_cargo/src/
!day07/day07_cargo/Cargo.toml

!day07/day07_p2/src/
!day07/day07_p2/Cargo.toml