puzzle_inputs
dayXX.rs
read_*.rs

# Ignore all
day*/*

# ignore garbage folder (failed code)
garbage


# Unignore all with extensions .rs
!day*/*.rs

# in these days I used cargo with extern crates
!day*/day*_cargo/
!day*/day*_cargo/src/*

day*/day*_cargo/target/
day*/day*_cargo/trarget/*